# Operating System Files
.DS_Store
.ipynb_checkpoints/
Thumbs.db

# Python
__pycache__/
*.pyc
*.log
.env
venv/
env/
*.sqlite3

# PyTorch
*.pt
*.pth
runs/ # If you use Tensorboard
checkpoints/ # If you save model checkpoints here

# Data and large files (pretrained models, generated images)
/pretrained_models/*.pt
/pretrained_models/*.pth
!/pretrained_models/stylegan2-ffhq-config-f.pt # Keep the initial FFHQ model
/validation_outputs/
/validation_outputs_experimental/
/dlib_models/shape_predictor_68_face_landmarks.dat # Already downloaded by script, but can be large

# Jupyter Notebook specific files
*.ipynb_checkpoints